.externa {
  background-color: blue;
  width: 80vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 90px;
  position: relative;
  /* align-content: flex-end; */
}

.interna {
  background-color: red;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  font-size: 4em;
  display: flex;
  align-items: center;
}

.rebelde{
  /* position: absolute | relative | sticky | fixed;
  top | bottom: 50px;
  left | right: 0; */
  /* align-self: flex-end; */
  /* transform: rotate(45deg); */
  transform: translate(-200px, -100px) scaleX(2) scaleY(0.8) rotate(60deg);
  border-radius: 30px;
}
